* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: #f1f1f1;
    color: #222;
}

p {
    padding: 50px;
    margin: 35px auto;
    width: 100%;
    font-size: 20px;
    line-height: 1.4;
    background: #333;
    color: #f1f1f1;
}
