* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #333;
}

h1 {
    margin-bottom: 50px;
    text-align: center;
}

.wrapper {
    width: 80%;
    margin: 50px auto;
}

/* Utilisez les transitions CSS pour créer cette séquence d'animations */
/* 
Propriétés à animer pour arriver à ce résultat : 
width: 50 - 200px
height: 50 - 100px
transform: rotate(720deg)
*/
.box {
    margin: 100px auto;
    width: 50px;
    height: 50px;
    background-color: salmon;
    cursor: pointer;
    transition: width 0.5s, height 0.5s 0.5s, transform 0.5s 1s;
}
.box:hover {
    height: 100px;
    width: 200px;
    transform: rotate(720deg);
}
