header {
    height: 65px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    font-family: Nunito, sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: $main-cl;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    transition: .3S;
}

nav a:hover {
    color: $main-cl;
}

.lang {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.lang img {
    width: 35px;
}