/* https://www.awwwards.com/ */

/* https://cubic-bezier.com/#.17,.67,.83,.67 */
/* La fonction cubic-bezier() permet d'indiquer une progression non linéaire pour les animations et les transitions.  */
/* La courbe de Bezier est un outil mathématique qui permet de définir une courbe avec seulement 4 valeurs numériques.  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 20px;
}

h1 {
    margin: 50px;
    padding: 20px;
    text-align: center;
}

/* DOWNLOAD */
.container {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 100%;
}

.circle-1 {
    /* utilisation de l'animation jump */
    /* une animation peut contenir le nom, la durée, le delais, le nb de répétition, le sens de l'animation */
    animation: jump 0.4s infinite ease-in alternate;
}

.circle-2 {
    animation: jump 0.4s 0.2s infinite ease-in alternate;
}

.circle-3 {
    animation: jump 0.4s 0.4s infinite ease-in alternate;
}

/* On créer une animation à l'aide @keyframes */
@keyframes jump {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateY(70px);
    }
}

/* TEXT ANIMATION */
.container-2 {
    width: 75%;
    min-height: 200px;
    margin: 50px auto;
    background-color: beige;
    padding: 20px;
    overflow: hidden;
}

h2 {
    margin: 20px 0;
    animation: show 2s;
}

p {
    animation: show 2s;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* CIRCLE */
.container-3 {
    width: 75%;
    margin: 50px auto;
}
.rounded {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(196, 82, 82);
    animation: go 3s ease infinite alternate;
}

@keyframes go {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(500px);
    }
}
