<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="un exercie css sur les grid">
    <title>Grid-Practice</title>
    <link rel="stylesheet" href="../assets/css/grid-practice.css" >
    <link rel="stylesheet" href="" media="print">
</head>
<body>
    <h1></h1>
    <div class="container">
        <article>
            <h2>title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel fugiat corrupti consequuntur ipsa in a cumque reiciendis tenetur voluptatibus, repellendus minima molestiae accusamus labore excepturi porro laboriosam unde tempora.</p>
        </article>
        <article>
            <h2>title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel fugiat corrupti consequuntur ipsa in a cumque reiciendis tenetur voluptatibus, repellendus minima molestiae accusamus labore excepturi porro laboriosam unde tempora.</p>
        </article>
        <article>
            <h2>title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel fugiat corrupti consequuntur ipsa in a cumque reiciendis tenetur voluptatibus, repellendus minima molestiae accusamus labore excepturi porro laboriosam unde tempora.</p>
        </article>
        <article>
            <h2>title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel fugiat corrupti consequuntur ipsa in a cumque reiciendis tenetur voluptatibus, repellendus minima molestiae accusamus labore excepturi porro laboriosam unde tempora.</p>
        </article>
        <article>
            <h2>title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel fugiat corrupti consequuntur ipsa in a cumque reiciendis tenetur voluptatibus, repellendus minima molestiae accusamus labore excepturi porro laboriosam unde tempora.</p>
        </article>
        <article>
            <h2>title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel fugiat corrupti consequuntur ipsa in a cumque reiciendis tenetur voluptatibus, repellendus minima molestiae accusamus labore excepturi porro laboriosam unde tempora.</p>
        </article>
        <article>
            <h2>title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel fugiat corrupti consequuntur ipsa in a cumque reiciendis tenetur voluptatibus, repellendus minima molestiae accusamus labore excepturi porro laboriosam unde tempora.</p>
        </article>
        <article>
            <h2>title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel fugiat corrupti consequuntur ipsa in a cumque reiciendis tenetur voluptatibus, repellendus minima molestiae accusamus labore excepturi porro laboriosam unde tempora.</p>
        </article>
        <article>
            <h2>title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel fugiat corrupti consequuntur ipsa in a cumque reiciendis tenetur voluptatibus, repellendus minima molestiae accusamus labore excepturi porro laboriosam unde tempora.</p>
        </article>
        <article>
            <h2>title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel fugiat corrupti consequuntur ipsa in a cumque reiciendis tenetur voluptatibus, repellendus minima molestiae accusamus labore excepturi porro laboriosam unde tempora.</p>
        </article>
        <article>
            <h2>title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel fugiat corrupti consequuntur ipsa in a cumque reiciendis tenetur voluptatibus, repellendus minima molestiae accusamus labore excepturi porro laboriosam unde tempora.</p>
        </article>
    </div>

</body>
</html>